In [133]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
import numpy as np
import phik
from phik import resources
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, f1_score, recall_score, precision_score, roc_auc_score
from sklearn.ensemble import GradientBoostingClassifier
from catboost import CatBoostClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
import random
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import make_scorer, mean_absolute_error
from sklearn.model_selection import GridSearchCV
from category_encoders import TargetEncoder
from sklearn.preprocessing import FunctionTransformer

from sklearn.compose import TransformedTargetRegressor
import sys, importlib

# —É–¥–∞–ª–∏—Ç—å –≤—Å–µ —Å–ª–µ–¥—ã –º–æ–¥—É–ª—è –∏–∑ –ø–∞–º—è—Ç–∏
sys.modules.pop('functions_car', None)

# –∑–∞–Ω–æ–≤–æ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å
import functions_car
importlib.reload(functions_car)

In [134]:
SEED=42

In [135]:
df = pd.read_csv(r"d:\dowload2\car_price_prediction.csv\car_price_prediction.csv")
print(df.head().to_string())

         ID  Price  Levy Manufacturer    Model  Prod. year   Category Leather interior Fuel type Engine volume    Mileage  Cylinders Gear box type Drive wheels   Doors             Wheel   Color  Airbags
0  45654403  13328  1399        LEXUS   RX 450        2010       Jeep              Yes    Hybrid           3.5  186005 km        6.0     Automatic          4x4  04-May        Left wheel  Silver       12
1  44731507  16621  1018    CHEVROLET  Equinox        2011       Jeep               No    Petrol             3  192000 km        6.0     Tiptronic          4x4  04-May        Left wheel   Black        8
2  45774419   8467     -        HONDA      FIT        2006  Hatchback               No    Petrol           1.3  200000 km        4.0      Variator        Front  04-May  Right-hand drive   Black        2
3  45769185   3607   862         FORD   Escape        2011       Jeep              Yes    Hybrid           2.5  168966 km        4.0     Automatic          4x4  04-May        Left wheel   White        0
4  45809263  11726   446        HONDA      FIT        2014  Hatchback              Yes    Petrol           1.3   91901 km        4.0     Automatic        Front  04-May        Left wheel  Silver        4

In [145]:
X, y, X_train, y_train, X_test, y_test, X_train_preprocessed, X_test_preprocessed= functions_car.prepare_regression_data(df)

üî• prepare_regression_data() called ‚Äî CLEAN 8-VARIANT version

‚úÖ **Preprocessing complete.**
Train samples: **15139**, Test samples: **3785**
Features: **39**

‚û° RETURN executed with 8 values

In [105]:
X_test.head()

,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,is_turbo,engine_size
3499,751,9.223039,9.381355,2013,Sedan,1,Petrol,180800,4.0,Automatic,Front,4,Left wheel,9.037736,4,0,2.4
9232,751,9.223039,9.381355,2013,Sedan,1,Petrol,230032,4.0,Automatic,Front,4,Left wheel,9.079348,12,0,2.4
1810,765,9.597031,9.032137,2015,Sedan,1,Petrol,14368,4.0,Automatic,Front,4,Left wheel,8.981735,4,0,2.0
9625,0,8.752792,9.072130,2001,Hatchback,0,Petrol,155000,4.0,Automatic,Front,4,Right-hand drive,9.225736,8,0,1.5
8522,0,8.885534,9.287605,1998,Microbus,0,Diesel,111111,6.0,Manual,Rear,4,Left wheel,8.968746,2,1,2.5

In [146]:
X_test_preprocessed.head(10)

,one_hot__Category_Cabriolet,one_hot__Category_Coupe,one_hot__Category_Goods wagon,one_hot__Category_Hatchback,one_hot__Category_Jeep,one_hot__Category_Limousine,one_hot__Category_Microbus,one_hot__Category_Minivan,one_hot__Category_Pickup,one_hot__Category_Sedan,...,num__Model,num__Prod. year,num__Leather interior,num__Mileage,num__Cylinders,num__Doors,num__Color,num__Airbags,num__is_turbo,num__engine_size
3499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,9.381355,2013.0,1.0,180800.0,4.0,4.0,9.037736,4.0,0.0,2.4
9232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,9.381355,2013.0,1.0,230032.0,4.0,4.0,9.079348,12.0,0.0,2.4
1810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,9.032137,2015.0,1.0,14368.0,4.0,4.0,8.981735,4.0,0.0,2.0
9625,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.072130,2001.0,0.0,155000.0,4.0,4.0,9.225736,8.0,0.0,1.5
8522,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,9.287605,1998.0,0.0,111111.0,6.0,4.0,8.968746,2.0,1.0,2.5
10181,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,10.350247,2018.0,1.0,24372.0,4.0,4.0,8.968746,4.0,0.0,1.6
17442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,8.942090,2014.0,0.0,115000.0,4.0,4.0,9.122457,0.0,0.0,1.6
11356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,9.299658,2013.0,0.0,41600.0,4.0,4.0,9.087877,8.0,0.0,1.8
3815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,8.140010,1999.0,1.0,193243.0,4.0,4.0,9.079348,6.0,0.0,1.9
7317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,8.151578,2013.0,1.0,0.0,4.0,4.0,8.794293,0.0,0.0,1.8

In [147]:
X_test_preprocessed.isnull().sum()

one_hot__Category_Cabriolet          0
one_hot__Category_Coupe              0
one_hot__Category_Goods wagon        0
one_hot__Category_Hatchback          0
one_hot__Category_Jeep               0
one_hot__Category_Limousine          0
one_hot__Category_Microbus           0
one_hot__Category_Minivan            0
one_hot__Category_Pickup             0
one_hot__Category_Sedan              0
one_hot__Category_Universal          0
one_hot__Fuel type_CNG               0
one_hot__Fuel type_Diesel            0
one_hot__Fuel type_Hybrid            0
one_hot__Fuel type_Hydrogen          0
one_hot__Fuel type_LPG               0
one_hot__Fuel type_Petrol            0
one_hot__Fuel type_Plug-in Hybrid    0
one_hot__Gear box type_Automatic     0
one_hot__Gear box type_Manual        0
one_hot__Gear box type_Tiptronic     0
one_hot__Gear box type_Variator      0
one_hot__Drive wheels_4x4            0
one_hot__Drive wheels_Front          0
one_hot__Drive wheels_Rear           0
one_hot__Wheel_Left wheel            0
one_hot__Wheel_Right-hand drive      0
num__Levy                            0
num__Manufacturer                    0
num__Model                           0
num__Prod. year                      0
num__Leather interior                0
num__Mileage                         0
num__Cylinders                       0
num__Doors                           0
num__Color                           0
num__Airbags                         0
num__is_turbo                        0
num__engine_size                     0
dtype: int64

In [148]:
########################################## BASELINE LINEAR REGRASSION ##########################################################
line_reg = LinearRegression()
line_reg.fit(X_train_preprocessed, y_train)

y_pred = line_reg.predict(X_test_preprocessed)

print('MAE= ', mean_absolute_error(y_test, y_pred))
print('MSE= ', mean_squared_error(y_test, y_pred))
print('R2= ', r2_score(y_test, y_pred))

MAE=  13139.866785361139
MSE=  542174930.4688584
R2=  -0.5659467322292226

In [149]:
########################################## BASELINE RANDOM FOREST ##########################################################
rf = RandomForestRegressor(random_state=SEED, n_estimators=100)

rf.fit(X_train_preprocessed, y_train)

y_pred = rf.predict(X_test_preprocessed)

print('MAE= ', mean_absolute_error(y_test, y_pred))
print('MSE= ', mean_squared_error(y_test, y_pred))
print('R2= ', r2_score(y_test, y_pred))

MAE=  5776.01628384434
MSE=  2989073768.346745
R2=  -7.633247383620088

In [10]:
rf_importance = pd.Series(rf.feature_importances_, index=X_train_preprocessed.columns).sort_values(ascending=False)

rf_importance_percent = (rf_importance / rf_importance.sum()) * 100

print(rf_importance_percent)

32    23.779706
29    21.884074
30    13.175445
38     7.037178
35     6.146527
36     5.924849
37     5.801251
28     3.452127
24     2.108505
27     2.056150
20     1.471178
16     1.215234
23     1.072061
12     1.009923
34     0.741701
33     0.578751
2      0.435730
4      0.379905
18     0.334912
31     0.318641
9      0.190886
22     0.184348
15     0.141172
13     0.107336
21     0.080527
1      0.079516
6      0.049962
3      0.041157
25     0.035338
10     0.034843
26     0.033466
17     0.026847
19     0.024853
7      0.024457
8      0.012349
11     0.005259
5      0.002274
0      0.001558
14     0.000003
dtype: float64

In [11]:
########################################## BASELINE GRADIENT BOOSTING ##########################################################
gd = GradientBoostingRegressor(random_state=SEED)

gd.fit(X_train_preprocessed, y_train)

y_pred = gd.predict(X_test_preprocessed)

print('MAE= ', mean_absolute_error(y_test, y_pred))
print('MSE= ', mean_squared_error(y_test, y_pred))
print('R2= ', r2_score(y_test, y_pred))

MAE=  13895.017705770582
MSE=  37063501264.5559
R2=  -106.0493404038693

In [12]:

gd_importance = pd.Series(gd.feature_importances_, index=X_train_preprocessed.columns).sort_values(ascending=False)


gd_importance_percent = (gd_importance / gd_importance.sum()) * 100

print(gd_importance_percent)

30    57.997308
32    21.747101
36     5.981553
9      4.417411
31     2.440850
2      2.130501
35     1.732794
29     1.729470
18     1.300135
38     0.214089
34     0.098018
28     0.058346
37     0.054955
20     0.027392
27     0.020433
33     0.014478
23     0.013803
10     0.006994
11     0.005706
12     0.003740
22     0.002829
4      0.001204
21     0.000322
26     0.000237
8      0.000230
16     0.000091
1      0.000008
6      0.000000
5      0.000000
3      0.000000
0      0.000000
19     0.000000
17     0.000000
15     0.000000
14     0.000000
13     0.000000
7      0.000000
24     0.000000
25     0.000000
dtype: float64